@page "/provider"

@using DashboardMgmt.Application.Menu;
@using DashboardMgmt.Components;
@using DashboardMgmt.Services;
@using Dashboard.sdk.Records;

@inject EngagementStore _store;

<ConfirmDelete @ref="DeletePanel" Title="Delete Provider" ObjectName="Provider" DeleteName=@GetDeleteName() DeleteAction="async () => await Delete()" />

<AddEditProvider @ref="EditPanel" Callback="async () => await Refresh()" ProviderId=@SelectedId />

<PageHeader Header="Provider" SubHeader="Maintenance" />

<PageMenu MenuCollection="@MenuCollection" />

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th style="width:70%">Provider</th>
            <th style="width:20%">Show in Report</th>
            <th>**</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var record in Records)
        {
            string trClass = SelectedId == record.ProviderId ? "table-primary" : string.Empty;

            <tr class="@trClass" @onclick="() => RowClick(record.ProviderId)">
                <td>@record.Provider</td>
                <td>@(record.Show ? "True" : "False")</td>
            </tr>
        }
    </tbody>
</table>



@code {
    private MenuCollection MenuCollection { get; set; } = null!;

    private IReadOnlyList<ProviderRecord> Records { get; set; } = new List<ProviderRecord>();

    private int? SelectedId { get; set; } = null;

    private AddEditProvider EditPanel { get; set; } = null!;

    private ConfirmDelete DeletePanel { get; set; } = null!;

    private string GetDeleteName() => Records.Where(x => x.ProviderId == (SelectedId ?? -1)).FirstOrDefault()?.Provider ?? string.Empty;

    protected override async Task OnInitializedAsync()
    {
        SetMenu();
        await Refresh();
        await base.OnInitializedAsync();
    }

    private void RowClick(int id)
    {
        SelectedId = id;
        SetMenu();
    }

    private void SetMenu()
    {
        MenuCollection = new MenuCollection
{
            new MenuButton("Add", OnAdd, "oi-plus", true),
            new MenuButton("Edit", OnEdit, "oi-plus", SelectedId != null),
            new MenuDivider(),
            new MenuButton("Delete", OnDelete, "oi-circle-x", SelectedId != null),
            new MenuButton("Refresh", Refresh, "oi-reload", true),
        };
    }

    private async Task Refresh()
    {
        Records = await _store.Client.Provider.List();
        SelectedId = null;
        SetMenu();

        StateHasChanged();
    }

    private Task OnAdd()
    {
        EditPanel.Open();
        return Task.CompletedTask;
    }

    private Task OnEdit()
    {
        EditPanel.Open();
        return Task.CompletedTask;
    }

    private Task OnDelete()
    {
        DeletePanel.Open();
        return Task.CompletedTask;
    }

    private async Task Delete()
    {
        DeletePanel.Close();

        if (SelectedId == null) return;

        ProviderRecord? record = Records.Where(x => x.ProviderId == (int)SelectedId).FirstOrDefault();
        if (record == null) return;

        await _store.Client.Provider.Delete(record.Provider);
        await Refresh();
    }
}