:root {
    --radius-size: 15px;
    --radius-0: 0px;
}


.program-icon {
    max-width: 32px;
}

.page-title {
    font-weight: 400;
    line-height: 1.2;
    font-size: 1.3rem;
}

.page-subTitle {
    margin-top: .5rem;
    font-size: .8rem;
    font-weight: 500;
}

.nav-link.disabled {
    color: #cecece !important;
}

.leftButton {
    border-top-left-radius: var(--radius-size);
    border-bottom-left-radius: var(--radius-size);
    border-top-right-radius: var(--radius-0);
    border-bottom-right-radius: var(--radius-0);
}

.rightButton {
    border-top-left-radius: var(--radius-0);
    border-bottom-left-radius: var(--radius-0);
    border-top-right-radius: var(--radius-size);
    border-bottom-right-radius: var(--radius-size);
}
