<label class="switch">
    <InputCheckbox @bind-Value="Value" @onclick="Update" />
    <span class="slider round"></span>
</label>

@code {
    [Parameter]
    public bool Value { get; set; }

    [Parameter]
    public EventCallback<bool> ValueChanged { get; set; }

    private async Task Update() => await ValueChanged.InvokeAsync(!Value);
}
